<!DOCTYPE html>
{% extends 'movies_app/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'movies_app/static/movies_app/css/login_page.css' %}">

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}